apiVersion: v1
kind: Service
metadata:
  name: {{ include "aurora.fullname" . }}-server
  labels:
    {{- include "aurora.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{ include "aurora.name" . }}-server
    app.kubernetes.io/instance: {{ .Release.Name }}
  ports:
    - name: http
      port: 5080
      targetPort: 5080
