{{- if .Values.services.vault.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "aurora.fullname" . }}-vault
  labels:
    {{- include "aurora.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{ include "aurora.name" . }}-vault
    app.kubernetes.io/instance: {{ .Release.Name }}
  ports:
    - name: http
      port: 8200
      targetPort: 8200
{{- end }}
